/***
   Author: Nemanja Aksic
   Color Palette - Extracted from chosen header photo using flicker

#d2c9bc 54.2 % Stark White(Brown)
#3d2633 17.0 % Toledo(Violet)
#79686e 12.4 % Old Lavender(Violet)
#889d60 5.0 % Chelsea Cucumber(Green)
#606985 3.6 % Kashmir Blue(Blue)
#4d6450 2.9 % Mineral Green(Green)
#c8a08e 1.8 % Quicksand(Brown)
#e5a380 1.6 % Tumbleweed(Brown)
#a1b4c3 0.8 % Echo Blue(Blue)
#1f254a 0.7 % Paua(Violet)

*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Sidebar Navigation */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: rgba(0,0,0,0.6);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 55%;
    background: url(../img/bg1.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header .text-vertical-center h1 {
    color: #606985;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .text-vertical-center h3{
    color: #3d2633;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
    color: #79686e;
}

.bg-primary{
    background-color:#3d2633 ;
}
/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Enrollment/Profile */

.enrollment_profile {
    padding: 50px 0;
}

.enrollment_profile-item {
    margin-bottom: 30px;
}

.img-enrollment_profile {
    margin: 0 auto;
}

.img-enrollment_profile:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

.text-primary{
    color: #ffffff;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}

/* Form test */
.profile-container{
    margin: auto;
}

.text-responsive{
    font-size: small;
}

.small-profile-pic{
    width:150px;
    height:150px;
}

#product_table{
    color: #fff;
}

.editremove:hover{
    color: #889d60;
}

.test-img{
    width:20px;
    height: 20px;
}
.semi-nav{
    position:absolute;
    width: 100%;
    height: 5%;
    z-index: 2;
    border: none;
    background: rgba(210,201,188,0);
    box-shadow: none;
    border-radius: 0%;

}

.semi-nav-container{
    width: 100%;
}

.bottom-header{
    margin-top: -100px;
    position: absolute;
    width:100%;
    height: 100px;
    background: rgba(210,201,188,0.5);
    z-index: 4;

}

.navbar-brand span{
    color: #f7f7f7;
}

.blur{
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition:all 1s ease ;


    /*blur*/
    -webkit-filter: blur(7px);
}

.navbar-brand span:hover{
    color: #889d60;
}

.login-btn{
    z-index: 5;
    position: fixed;
    top: 0;
    right: 50px;
}

.checked-list-box{
    max-height: 125px;
    overflow-y: scroll;
}

.active .checked-list-box .list-group-item {
    background-color: #f0ad4e !important;
}

.headline{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 25%;
    left: 10%;
    right: 10%;
    color: #3d2633;

}

.shadow-title{
   color: #fff;
font-size: 16em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0px 2px 3px #555;
}

.subtitle{
    color: #1f254a;
    opacity: 0.7;
}