<html>
<head>
    <title>iNeed Vendor Prototype</title>


    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/main-theme.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!-- Boostrap js -->
    <script src="/static/js/bootstrap.min.js"></script>


</head>

<body>
{%if email ==''%}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal_size">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img class="img-circle small-profile-pic" src="../static/img/user.jpg"/>
                    <h4 class="modal-title lead" id="mediaModalLabel">Login</h4>
                    <small id="biotext">Please input your email and password to log in to iNeed</small>
                </div>
                <div class="modal-body">
                    <div class ="row text-center" id="inside_body">
                        <div class="col-s-2">

                       <form action="" method="post" name="login" id="loginform">
                               {{loginform.email(class_="form-control input-sm" ,placeholder="Email:")}}
                                    {% for error in loginform.email.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}

                               <br/>
                               {{loginform.password(class_="form-control input-sm" ,placeholder="Password:")}}
                                    {% for error in loginform.password.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}


                                <input type="submit" name="Login" id="loginbtn">

                       </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endif%}
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <!--<a href="#top"  onclick = $("#menu-close").click(); >{%if email != ''%} Welcome {%else%} Login{%endif%}</a>-->

                {%if email != ''%}
                    <a href="index#profile" id="email-session">{{email}}</a>
                {%else%}
                    <a onclick="$('#loginModal').modal({'backdrop':'static'});"> Login ></a>

                {%endif%}
            </li>

             {%if email != ''%}
                    <!-- User is logged in -->
                <li>
                    <a href="index" onclick = $("#menu-close").click();>Home</a>
                </li>
                <li>
                    <a href="profile" onclick = $("#menu-close").click();>Profile</a>
                </li>

                <li>
                    <a href="catalog" onclick = $("#menu-close").click();> Products</a>
                </li>
                <li>
                    <a href="deals" onclick = $("#menu-close").click();>Deals</a>
                </li>

                <li>
                    <a href="logout" onclick = $("#menu-close").click();> Log Out</a>
                </li>
            {%else%}
                <!-- Guest -->
                <li>
                    <a href="index#top" onclick = $("#menu-close").click();>Home</a>
                </li>
                <li>
                    <a href="index#about" onclick = $("#menu-close").click();>About Us</a>
                </li>
                <li>
                    <a href="index#services" onclick = $("#menu-close").click();>Our Services</a>
                </li>
                <li>
                    <a href="index#profile" onclick = $("#menu-close").click();>Vendor Enrollment</a>
                </li>

            {%endif%}


        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>iNeed Vendors</h1>
            <h3>Distribute deals and reach out to customers in a whole new way </h3>
            <br>

        </div>
    </header>

    {% block content %}{% endblock %}
    {%if email !=''%}
        {%if loginform is defined and loginform.errors != {}%}
            <script>$('#loginModal').modal('show');</script>
        {%endif%}
    {%endif%}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>iNeed</strong>
                    </h4>
                    <p>UCSD Campus<br>Gilman Drive, CA 92093</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (555) 555-5555</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:contact@ineed-vendors.com">contact@ineed-vendors.com</a>
                        </li>
                    </ul>
                    <br>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; iNeed 2014</p>
                </div>
            </div>
        </div>
    </footer>

 <!-- Menu and other javascript -->

    <script>



    // Adapt fontsize based on email length
    $(function() {
        var len_fit = 20; // According to your question, 10 letters cat fit in.
        var un = $('#email-session');

        // Get the lenght of user name.
        var len_user_name = un.html().length;
        if(len_fit < len_user_name ){

            // Calculate the new font size.
            var size_now = parseInt(un.css("font-size"));
            var size_new = size_now * len_fit/len_user_name;

            // Set the new font size to the user name.
            un.css("font-size",size_new);
        }
    });

    // Closes sidebar menu
         $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

         // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
</body>
</html>
