<!-- Author: Nemanja Aksic -->
<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}



    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Please add deals here</h2>
                    <p class="lead">At any time, the list below contains all deals added by you,
                        and can be removed by pressing the Remove button, and you may also add new deals using the form below.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

<section id="services" class="services bg-primary">
    <div class="container" id="product_list">
        <div class="row text-vertical-center">
            <h3>Add a new deal</h3><hr class="small">

            <form method="POST" id="deal_form">
                 <div class="col xs-12 col-sm-12 col-md-8">

                     <div class="col-xs-12 col-sm-12 col-md-12">
                         <div class="form-group">
                             <input type="text" class="form-control input-sm" name="add_qty" placeholder="Name: "/>
                         </div>
                    </div>

                    <br>
                    <div class="form-group col-xs-12 col-sm-3 col-md-3">
                       <select name="add_deal_type" class="form-control input-sm">
                           <option value="dummy_deal_type">Select deal type..</option>
                           <option value="dummy_deal_type">Deal</option>
                           <option value="dummy_deal_type">Promotion</option>
                       </select>
                    </div>

                    <div class="col-xs-12 col-sm-7 col-md-7">
                       <div class="form-group">
                           <input type="text" class="form-control input-sm" name="add_coupon_code" placeholder="Coupon Code: "/>
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="add_quantity" placeholder="Quantity: "/>
                         </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <input type="text" class="form-control input-sm" name="add_price" placeholder="Price: "/>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                       <div class="form-group">
                           <input type="text" class="form-control input-sm" name="add_discount" placeholder="Discount in %: "/>
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                       <div class="form-group">
                               <input type="text" class="form-control input-sm" name="add_expiry_date" placeholder="Pick an expiry date: " id="add_expiry_date"/>
                       </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <ul id="check-list-box" class="list-group checked-list-box">
                        {% for product in products %}
                        <a class="list-group-item">
                           {{product.name}}
                            <span hidden="true" id="{{ product.name }}" value="">,{{ product.id }}</span>
                          </a>
                        {% endfor %}
                    </ul>
                    <input type="text" name="add_item_list" id="add_item_list" hidden="hidden"/>


                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-light" name="editremove" value="Add Deal"/>
             <!--<input onclick="addRow(this.form);" type="button" value="Add row" class="btn btn-light"/>-->
                </div>




            </form>
</div>
        <div class="row text-center">

            <br/>
        <br/>
            <h3>Your Deals</h3>
            <table class="table" id="product_table">
                <tr>
                    <td><b>#</b></td>
                    <td><b>Deal</b></td>
                    <td><b>Product(s)</b></td>
                    <td><b>Price</b></td>
                    <td><b>Status</b></td>
                    <td><b>Actions</b></td>

                </tr>
               <form method="POST" id="delete_form">
                {%for deal in deals%}
                    <tr>
                        <td>{{deals.index(deal)+1}}</td>
                        <td><input hidden="true" name="name" value="{{deal.name}}">{{deal.name}}</td>
                        <td><input hidden="true" name="product_name" value="{{deal.item_list}}">

                            {% for item in deal.item_list %}
                                <!--{{ item}}-->
                                {% for product in products %}
                                    {% if product.id == item.split(",")|replace("[","")|replace("]","")|replace("u'","")|replace("'","")|replace('"',"")|replace(" ","")%}
                                        <p>{{ product.name }}</p>
                                    {% endif %}

                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td><input hidden="true" name="price" value="{{deal.price}}">{{deal.price}}</td>
                        <td id="{{deal.name}}-{{ deals.index(deal)}}"></td>
                        <td>
                            <label for="{{deal.name}}_{{deal.product_name}}_{{deal.description}}_{{deal.price}}" class="btn editremove">
                                <i class="fa fa-remove fa-lg"></i> Remove</label>
                            <input type="hidden" name="deal_id" value="{{ deal.id }}">
                            <input id="{{deal.name}}_{{deal.product_name}}_{{deal.description}}_{{deal.price}}" type="submit" name="editremove" value="Remove#{{deal.name}}#{{deal.product_name}}#{{deal.description}}#{{deal.price}}" class="hidden"/>
                        </td>

                    </tr>
                {%endfor%}
                </form>

            </table>


        </div>
    </div>



        <!--<div class="container">
            <div class="row text-center">
                <div class="row" id="itemRows">
                    <form method="post">
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="add_qty" placeholder="Name: "/>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5">
                        <div class="form-group">
                         <input type="text" class="form-control input-sm" name="add_name" placeholder="Description: "/>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <div class="form-group">
                             <input onclick="addRow(this.form);" type="button" value="Add row" class="btn btn-light"/>
                        </div>
                    </div>
                        <br/>


                </div>
                <input type="submit" class="btn btn-light" name="ok" value="Save Changes">
                </form>
            </div>
        </div> -->
</section>

<script type="text/javascript">

$(function () {
    $('.list-group.checked-list-box .list-group-item').each(function () {

        // Settings
        var $widget = $(this),
            $checkbox = $('<input type="checkbox" class="hidden" />'),
            color = ($widget.data('color') ? $widget.data('color') : "primary"),
            style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        $widget.css('cursor', 'pointer')
        $widget.append($checkbox);

        // Event Handlers
        $widget.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
            itemlist();
        });
        $checkbox.on('change', function () {
            updateDisplay();
            itemlist();
        });


        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $widget.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $widget.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$widget.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $widget.addClass(style + color + ' active');
            } else {
                $widget.removeClass(style + color + ' active');
            }
        }

        function itemlist() {
            //event.preventDefault();
            var checkedItems = {}, counter = 0;
            var list = "";
            $("#check-list-box .active").each(function(idx, li) {
                var id = $(li).text().replace(/(\r\n|\n|\r)/gm," ").trim();
                var idstring = "#"+id;
                //console.log($("#check-list-box .active span").val());
                checkedItems[counter] = id;
                counter++;

                if(list == ""){
                    list+=id.split(",")[1];
                }
                else{
                    list+=","+id.split(",")[1];
                }
               /* for (var c=0; c<checkedItems.length; c++){
                    var item_id = checkedItems[c].split(",")[1];
                    console.log(item_id);
                    if(c!=checkedItems.length-1){
                        list+="tru";
                    }
                    else{
                        list.append(item_id);
                    }
                }*/
                $('#add_item_list').val(list);
            });

            console.log(list);

        };

        // Initialization
        function init() {

            if ($widget.data('checked') == true) {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
            }

            updateDisplay();

            // Inject the icon if applicable
            if ($widget.find('.state-icon').length == 0) {
                $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
            }
        }
        init();
    });


});

    $(document).ready(function() {
        $('#add_expiry_date')
            .datepicker({
                format: 'mm-dd-yyyy'
            })
            .on('changeDate', function(e) {
                // Revalidate the date field
                $('#eventForm').formValidation('revalidateField', 'date');
            });

        $('#eventForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'The name is required'
                        }
                    }
                },
                date: {
                    validators: {
                        notEmpty: {
                            message: 'The date is required'
                        },
                        date: {
                            format: 'MM-DD-YYYY',
                            message: 'The date is not a valid'
                        }
                    }
                }
            }
        });


        function submitAddDealForm(){
            //var element = document.getElementById("add_item_list");
            //element.value = "valuee";
            $('#deal_form').submit();
        }
    });


    function submitEditRemoveForm(){
        $('#delete_form').submit();
    }







    function scrollToElement(ele) {
    $(window).scrollTop(ele.offset().top).scrollLeft(ele.offset().left);
    }
    scrollToElement($('#product_list'));
var rowNum = 0;
function addRow(frm) {
	rowNum++;
	console.log(rowNum);
	//var row = '<p id="rowNum'+rowNum+'">Name: <input type="text" name="qty'+rowNum+'" value="'+frm.add_qty.value+'"> Description: <input type="text" name="name'+rowNum+'" value="'+frm.add_name.value+'"> <input type="button" value="Remove" onclick="removeRow('+rowNum+');"></p>';
    var row = '<p id="rowNum'+rowNum+'"> Name: <input type="text" name="qty'+rowNum+'" value="'+frm.add_qty.value+'"> Product Name: <input type="text" name="prod_name'+rowNum+'" value="'+frm.add_prod_name.value+'"> Description: <input type="text" name="name'+rowNum+'" value="'+frm.add_name.value+'"> Price: <input type="text" name="price'+rowNum+'" value="'+frm.add_price.value+'"> <input type="button" value="Remove" onclick="removeRow('+rowNum+');"> </p>';
	jQuery('#product_form').append(row);
	frm.add_qty.value = '';
    frm.add_prod_name.value = '';
	frm.add_name.value = '';
    frm.add_price.value = '';
}

function removeRow(rnum) {
	jQuery('#rowNum'+rnum).remove();
}

function CompareDate(date){
    var today = new Date();
    var datestring = date+'';
    var dateArray = datestring.split("-");
    var givenDate = new Date(Number(dateArray[2]),Number(dateArray[0])-1, Number(dateArray[1]));
    if(today>=givenDate){
        return "Expired"
    }
    else{
        return "Active"
    }
}


{% for deal in deals %}
    document.getElementById("{{deal.name}}-{{ deals.index(deal)}}").innerText = CompareDate("{{ deal.expiry_date }}") ;

    //$("#{{deal.name}}-{{ deals.index(deal)}}").text("ACTIVE");
{% endfor %}

</script>
{% endblock %}